* {
    margin: 0;
    padding: 0;
}

.hero {
    background-image: url("../images/goatTwo.jpg");
    height: 100vh;
    background-size: cover;
    background-position: bottom center;
}

.hero h1 {
    color: aliceblue;
    font-size: 100px;
    text-align: center;
    font-weight: 900;
    padding: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 10px;
}